.idea/**
.vscode/**
/typings/**
test/**
coverage/**
images/animations/**
npm-debug.log
.gitignore
.editorconfig
.eslintrc.yaml
.eslintignore
.codeclimate.yml
.nvmrc
.travis.yml
jsconfig.json
vsc-extension-quickstart.md
__*
