.idea/**/*
.vscode/**/*
typings/**/*
test/**/*
coverage/**/*
images/animations/**/*
npm-debug.log
.gitignore
.editorconfig
.eslintrc.yaml
.eslintignore
.codeclimate.yml
.nvmrc
.nycrc
.nyc_output/**/*
.travis.yml
jsconfig.json
**/__*

