.idea/**/*
.vscode/**/*
src/**/*
out/test/**/*
out/**/*.map
tsconfig.json
tslint.json
images/animations/**/*
cli-test-mocha.opts
.gitignore
.editorconfig
.codeclimate.yml
.nvmrc
.nycrc
.nyc_output/**/*
coverage/**/*
yarn.lock
yarn-*.log
tag-release.sh
.travis.yml
*.vsix
__*
__*/**/*
